{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{% static 'codegiggles_app/css/style.css' %}"
		/>

		<title>Code Snippets</title>
	</head>
	<body>
		<h1>Code Snippets</h1>
		<a href="{% url 'home' %}"><button>Home</button></a>
		{% comment %}<a href="{% url 'add_snippet' %}"
			><button>Add Snippet</button></a
		>
		{%endcomment %}

		<!-- Display all snippets -->
		{% for snippet in snippets %}
		<div>
			<h2>{{ snippet.title }}</h2>
			<pre>{{ snippet.code }}</pre>
		</div>
		{% endfor %}
	</body>
</html>
