{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="{% static 'codegiggles_app/css/style.css' %}"
		/>

		<title>Code Snippets</title>
	</head>
	<body>
		<section id="snippets_header">
			<h1 id="logo">Code Snippets</h1>
			<input placeholder="Search for snippet"></input>
			<a href="{% url 'add_snippet' %}" id="add_snippet_btn"
				><button>+</button></a
			>
		</section>

		<section id="home_snippets">
			{% for snippet in snippets %}
			<div id="snippet">
				<div>
					<h2>{{ snippet.title }}</h2>
					<pre>{{ snippet.code }}</pre>
					<div class="pecka">
						<p class="tag">{{ snippet.language }}</p>
						<p class="created">
							<span class="text"> Created: </span>
							<span>{{ snippet.created_at }}</span>
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</section>

		<section id="footer">
			<div>
				<h3 id="logo">CodeGiggles</h3>
			</div>
			<div id="copyright">
				<p>Copyright © 2024 made by Yurco. All rights reserved</p>
			</div>
		</section>
	</body>
</html>
