@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Silkscreen:wght@400;700&display=swap');
@import './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Share Tech Mono';
}

body {
	#home_navbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 2rem 0;
		#logo {
			font-family: 'Silkscreen';
			font-size: 3rem;
			color: $grey;
		}
		#links {
			display: flex;
			align-items: center;
			gap: 2rem;
			.navbar_link {
				button {
					padding: 0.2rem 2rem;
					font-size: 1rem;
					background-color: transparent;
					border: 1px solid $grey;
					border-radius: 0.15rem;
					transition: all 0.3s;
					text-transform: uppercase;
					&:hover {
						background-color: $grey;
						color: $white;
						cursor: pointer;
					}
				}
			}
		}
		#add_snippet_btn {
			button {
				padding: 0.2rem 2rem;
				font-size: 1.2rem;
				background-color: $grey;
				color: $white;
				border: none;
				border-radius: 0.15rem;
				transition: all 0.3s;
				text-transform: uppercase;
				&:hover {
					background-color: $hoverGrey;
					cursor: pointer;
				}
			}
		}
	}

	#home_hero_section {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 10rem 5rem;

		#text {
			width: 28rem;
			font-size: 1.8rem;
			color: $grey;
		}

		#link {
			a {
				button {
					padding: 0.3rem 2.2rem;
					font-size: 1.5rem;
					background-color: $grey;
					color: $white;
					border: none;
					border-radius: 0.15rem;
					transition: all 0.3s;
					text-transform: uppercase;
					&:hover {
						background-color: $hoverGrey;
						cursor: pointer;
					}
				}
			}
		}
	}

	#home_snippets {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 0 5rem;
		margin: 5rem 0 0 0;
		#snippet {
			max-width: 25rem;
			background-color: transparent;
			padding: 0.3rem;
			box-shadow: 5px 5px $grey;
			border-radius: 0.3rem;
			border: 1px solid $grey;
			width: max-content;
			div {
				background-color: $grey;
				padding: 0.5rem;
				border-radius: 0.3rem;
				display: flex;
				gap: 0.5rem;
				flex-direction: column;
				height: 100% !important;
				justify-content: space-between;
				h2 {
					color: $white;
					text-transform: uppercase;
				}
				pre {
					background-color: #f4f4f4;
					padding: 10px;
					border: 1px solid #ccc;
					overflow: auto;
					height: 100%;
				}
				.tag {
					padding: 0.2rem 2rem;
					font-size: 1rem;
					background-color: transparent;
					border: 1px solid $white;
					border-radius: 0.15rem;
					transition: all 0.3s;
					text-transform: uppercase;
					width: max-content;
					color: $white;
				}
				.created {
					color: $white;
					.text {
						text-decoration: underline;
						width: max-content;
					}
					span {
						color: $white;
					}
				}
			}
		}
	}
	#footer {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		padding: 10rem 5rem 0;
		#logo {
			font-family: 'Silkscreen';
			font-size: 3rem;
			color: $grey;
		}

		#copyright {
			color: $grey;
			font-size: 1.2rem;
		}
	}
	#snippets_header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		padding: 2rem 0;
		#logo {
			font-family: 'Silkscreen';
			font-size: 3rem;
			color: $grey;
		}
		input {
			padding: 0.3rem 1rem;
			font-size: 1.3rem;
			border-radius: 0.3rem;
			border: 1px solid $grey;
		}
		a {
			width: 17.3rem;
			button {
				padding: 0.3rem 1rem;
				width: 100%;
				border-radius: 0.3rem;
				border: 1px solid $grey;
				background-color: $grey;
				color: $white;
				font-size: 1.3rem;
				transition: all 0.3s;
				&:hover {
					cursor: pointer;
					background-color: $hoverGrey;
				}
			}
		}
	}
}
