@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Silkscreen:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Share Tech Mono' !important;
}
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
body {
	height: 100vh;
	font-weight: normal;
	background-color: $white !important;

	i {
		font-family: sans-serif !important;
	}

	input,
	textarea {
		&:active,
		&:focus {
			// border: ;
			box-shadow: none;
			outline: none;
		}
	}
}

.tweets {
	border-left: 1px solid $borderGrey;
	border-right: 1px solid $borderGrey;
	border-bottom: 1px solid $borderGrey;
}

#snippet {
	border-top: 1px solid $borderGrey;
}

#logo {
	font-family: 'Silkscreen' !important;
	font-size: 2rem;
	color: $grey;
	margin: 0 0 2rem 0;
}

svg {
	color: $grey !important;
	min-width: 1rem !important;
}

.link-menu {
	color: $hoverGrey;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin: 0 0 0 0.3rem;
}

.header {
	color: $hoverGrey;
}

.search-box {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	input {
		background-color: $inputGrey;
	}
}

form {
	div {
		padding: 0 1rem;
		p {
			display: flex;
			flex-direction: column;
			input {
				padding: 0.3rem 1rem;
				border-radius: 0.3rem;
				border: none;
				background-color: transparent;
				border: 1px solid $grey;
			}
			textarea {
				padding: 0.3rem 1rem;
				border-radius: 0.3rem;
				border: none;
				background-color: transparent;
				border: 1px solid $grey;
			}
		}
	}
}

.form_btns {
	margin-bottom: 1rem;
	button {
		padding: 0.3rem 1rem;
		border-radius: 0.3rem;
		border: 1px solid $hoverGrey;
	}
	a {
		padding: 0.5rem 1rem;
		border-radius: 0.3rem;
		background-color: $hoverGrey;
		color: $white;
	}
}

.search-bar {
	border-radius: 0.3rem;
}

.header {
	display: flex;
	align-items: center;
	gap: 1rem;
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			// width: 2rem;
		}
	}
}

#snippet_detail {
	pre {
		background-color: $hoverGrey;
		padding: 0.3rem;
		color: $white;
		border-radius: 0.3rem;
	}
	.tag {
		border: 1px solid $hoverGrey;
		padding: 0.1rem 0.3rem;
		width: max-content;
		border-radius: 0.3rem;
	}
}

#snippet {
	#linkales {
		color: $header;
	}
	.tag {
		border: 1px solid $tag;
		color: $tag;
		padding: 0.1rem 0.3rem;
		width: max-content;
		border-radius: 0.3rem;
	}
	.created span {
		color: $date;
	}
}

.actions {
	display: flex;
	justify-content: space-between;
	.dislikelike {
		display: flex;
		gap: 0.5rem;
	}
}

#like_dislike_form {
	.buttonises {
		background-color: $inputGrey;
		border: none;
		padding: 0.1rem;
		border-radius: 0.3rem;
		svg {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
